@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

content {
  border: 1px solid #dde2ff;
}

body {
  background: #f8f9ff;
}

.btn {
  background: #fff;
  border: 1px solid #dde2ff;
  border-radius: 5px;
}

@media (max-width: 640px) {
  .searchHeader input {
    width: 50%;
  }
  .top-buttons {
    justify-content: space-between;
  }
}
