@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  background: #f8f9ff;
}

.todo-container {
  padding: 0% 0% 0% 0%;
}

/* Navbar Style Starts */
nav {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 7.5% 0 6.5%;
  border: 1px solid #e9eaf3;
}
nav .logo {
  color: #7a8dfd;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}

nav .logo h3 {
  margin-left: 10px;
}

.searchHeader {
  display: flex;
}

.searchHeader button {
  background: #ffffff;
  border: none;
}

.searchHeader input {
  background: #fff;
  padding: 5px;
  border: 3px solid #dde2ff;
  border-radius: 5px;
  box-sizing: border-box;
  height: 34px;
  margin-right: 4px;
  width: 360px;
}
/* Navbar Style Ends */

/* TopButtons Style Starts */
.top-content {
  padding: 3% 7.5% 0 6.5%;
}

.top-buttons {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.progress-btn button {
  background-color: #ffffff;
  border: 0.5px solid rgb(238, 238, 238);
  color: rgb(19, 19, 19);
  padding: 8px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  margin-left: 12px;
}

.progress-btn button:hover {
  background: #5c6fdc;
  color: white;
}

.create-btn {
  background: #7a8dfd;
  border: 0.5px solid rgb(238, 238, 238);
  color: rgb(254, 254, 254);
  padding: 7px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
}

.create-btn:hover {
  background: #4c5fcd;
  color: white;
}
/* TopButtons Style Ends */

/*  Create Todo Style Starts */
.todo {
  background: #fff;
  border: 1px solid #dde2ff;
  border-radius: 5px;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 163px;
  min-width: 350px;
  padding: 15px;
  position: relative;
  word-break: break-word;
}

.todo,
.todo_add_del {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todo_add_del {
  align-items: center;
  width: 125px;
}

.edit-text {
  border: 3px solid #dde2ff;
  border-radius: 5px;
  box-sizing: border-box;
  height: 80px;
  padding: 5px;
  width: 100%;
  resize: none;
}

.add-task {
  background: #fff;
  border: 1px solid #dde2ff;
  border-radius: 5px;
  height: 36px;
  margin-right: 15px;
  min-width: 51px;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
}

.icon-btn {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
/* Create Todo Style Ends */

/* Incomplete Todo Style Starts */
.todo-done-edit-del {
  display: flex;
  justify-content: space-between;
  width: 125px;
}
.todo-title {
  font-size: 24px;
  color: #32394b;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  outline: none;
}

.todo-created-at {
  color: #bbbdd0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-top: 8px;
}
/* Incomplete Todo Style Ends */

/* Completed Todo Style Starts */
.todo-title-done {
  font-size: 24px;
  color: #0bc375;
  text-decoration: line-through;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  outline: none;
}
.todo-del-duration {
  display: flex;
  justify-content: space-between;
}

.completed-time {
  align-items: center;
  background: #7a8dfd;
  border-radius: 5px;
  color: #fff;
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  height: 24px;
  justify-content: space-around;
  min-width: 147px;
  text-align: center;
  padding: 5px;
}
/* Completed Todo Style Ends */

/* All Todos Style Starts */
.all-todos {
  grid-gap: 2.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: space-between;
  padding: 1.5% 7.5% 1.5% 6.5%;
}
/* All Todos Style Ends */

/* To make the UI responsive */
@media (max-width: 640px) {
  .searchHeader input {
    width: 50%;
  }
  .top-buttons {
    justify-content: space-between;
  }
}
