.todo-title-done {
  font-size: 24px;
  color: #0bc375;
  text-decoration: line-through;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  outline: none;
}
.todo-del-duration {
  display: flex;
  justify-content: space-between;
}

.completed-time {
  align-items: center;
  background: #7a8dfd;
  border-radius: 5px;
  color: #fff;
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  height: 24px;
  justify-content: space-around;
  min-width: 147px;
  text-align: center;
  padding: 5px;
}