.zero-task {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.zero-task__text {
  color: #32394b;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-top: 5px;
  outline: none;
}

.zero-task--disabled{
  opacity: 0.2;
}