.zero-task {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 130px;
}

.zero-task__text {
  color: #32394b;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-top: 5px;
  outline: none;
}