.spinner {
  animation: rotate 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.spinner--small {
  top: 35%;
  left: 32%;
  height: 30%;
  width: 30%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
